
:root {
    --white-color: #fff;
    --mainColor: #000;
   
}
nav{
    margin-left: 50px;
}
.navbar{
    overflow: hidden;
}
.logo{
    float: left;
    font-size: 25px;
    font-weight: 800;
}
.navbar a{

    color: #000;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-top: 30px;
    margin-left: 2%;
}
.icons{
    margin-left: 90%;
}